body {
	background: #f24333;
	text-align: center;
	color: #fff;
	font-size: 100%;
	line-height: 1.50;
	font-family: 'Lato', Arial, sans-serif;
}

h1 {
	color: #fff;
	line-height: 1.50;
	font-size: 50px;
	text-transform: uppercase;
	font-family: 'Lato', Arial, sans-serif;
}

h3 {
	color: #fff;
	line-height: 0.9;
	font-weight: 300;
	font-size: 25px;
	font-family: 'Lato', Arial, sans-serif;
	font-style: italic;
}

section {
	padding: 0em 3% 4em;
	text-align: center;
	font-size: 1.5em;
}

.row1, .row2, .row3 {
	display: table;
	margin: 40px auto; 
	width: 70%;
}

.row1 figure, .row2 figure, .row3 figure {
	display: table-cell;
	text-align: center;
}

/*style for hidden modal*/
.overlay {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #e74c3c;
	opacity: 0.95;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 2000;
	display: none;
}

.overlay-result {
	width: 100%;
	height: 100%;
	color: #fff;
	background: #e74c3c;
	opacity: 0.95;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	z-index: 3000;
}

.content {
	color: #fff;
	background: #e74c3c;
	position: relative;
	height: auto;
	width: 600px;
	border-radius: 3px;
	top: 15%;
	margin: auto auto;
	border: 1px solid rgba(0,0,0,0.1);
}

.content h3 {
	margin: 0;
	padding: 0.4em;
	text-align: center;
	font-size: 2.4em;
	font-weight: 300;
	opacity: 0.8;
	background: rgba(0,0,0,0.1);
	border-radius: 3px 3px 0 0;
}

.content > div {
	padding: 15px 40px 30px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
}

.content > div p {
	margin: 0;
	padding: 10px 0;
	line-height: 2em;
	text-align: justify;
}

.content > div ul {
	margin-bottom: -30px;
	padding: 0 0 30px 20px;
	text-align: left;
}

.content > div ul li {
	padding: 5px 0;
	display: block;	
	list-style-type: disc;
	line-height: 1.5em;
}

.content > div ul li strong{
	text-decoration: underline;
}

div a {
	font-size: 0.8em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
}

ul#choices {
    list-style-type: none;
}

.result-section {
	display: none;
}

.new-game {
	font-size: 0.8em;
	background: #1F253D;
	color: #95a5a6;
	padding: 0.5em 2em;
	margin-bottom: 50px;
	border-radius: 3px;
	margin-top: 50px;
	position: relative;
	display: block;
}
